/* FONTES 

font-family: 'Black Ops One', cursive;
font-family: 'Exo', sans-serif;
font-family: 'Orbitron', sans-serif;

*/
* {
    box-sizing: border-box;
    margin: 0;
}
body,html {
    font-family: 'Exo', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}
.container {
    display: none;
    flex-direction: column;
    height: 100%;
}
main {
    flex: 1;
}
/*== Pre load ==*/
.box-load {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(31, 23, 36);
    display: flex;
    align-items: center;
    justify-content: center;
}
.pre {
    width: 300px;
    height: 290px;
    background-image: url('img/white-alterra.png');
    background-position: center;
    background-size: cover;
    animation: load 4s linear infinite;
}
@keyframes load {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
/*===== HEADER =====*/

header {
    position: fixed;
    background-color: rgb(31, 23, 36);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    opacity: 0.8;
}
header a {
    color: white;
    text-decoration: none;
    padding: 12px;
    font-weight: bold;
}
header h1 {
    margin: 0;
}
.left-header {
    display: flex;
    align-items: center;
}
.left-header img {
    width: 45px;
}
nav {
    display: flex;
}
/*-- HOVER --*/
.hover1, .hover2, .hover3, .hover4 {
    padding: 10px;
    margin: 8px;
    color: white;
    text-decoration: none;
    position: relative;
}
.hover1:after, .hover2:after, .hover3:after, .hover4:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(27, 27, 255);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.a1:hover .hover1:after, .a2:hover .hover2:after, .a3:hover .hover3:after, .a4:hover .hover4:after {
    transform: scaleX(1);
    transform-origin: bottom left;
} 
/*===== SECTION 1 =====*/

.section-1 {
    width: 100%;
    height: 100%;
    background-color: rgb(42, 19, 56);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-- LEFT SECTION 1 --*/
.left-section-1 {
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left-section-1 h1 {
    align-self: self-start;
    margin-bottom: 10px;
    font-size: 35px;
    border-right: 4px solid white;
    width: 22.7ch;
    white-space: nowrap;
    overflow: hidden;
    animation: type 2s steps(29), blink 0.5s infinite step-end alternate;
}
@keyframes type {
    from {
        width: 0;
    }
    to {
        width: 24ch;
    }
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
}
.left-section-1 h2 {
    align-self: self-start;
}
.left-section-1 p {
    text-align: justify;
    font-size: 21px;
}

.left-section-1 button {
    margin-top: 20px;
    width: 200px;
    height: 40px;
    background: transparent;
    color: white;
    border: 2px solid white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.left-section-1 button:hover {
    background-color: white;
    color: black;
    transition: ease 0.3s;
}
/*-- RIGHT SECTION 1 --*/
.right-section-1 {
    width: 30%;
}

/*===== SECTION 2 =====*/

.section-2 {
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(46, 16, 65);
    box-shadow: inset 0px -1px 10px 1px black;
}

/*-- LEFT SECTION 2 --*/
.left-section-2 {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left-section-2 h1 {
    align-self: flex-start;
    font-size: 35px;
}
.left-section-2 p {
    font-size: 18px;
}
.experiencias {
    display: flex;
    gap: 20px;
}
.experiencias img {
    margin-top: 20px;
    width: 80px;
}
.left-section-2 button {
    margin-top: 50px;
    width: 200px;
    height: 40px;
    background: transparent;
    color: white;
    border: 2px solid white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.left-section-2 button:hover {
    background-color: white;
    color: black;
    transition: ease 0.3s;
}

/*-- RIGHT SECTION 2 --*/
.right-section-2 {
    width: 40%;
    display: flex;
    margin-left: 80px;
    justify-content: center;
    align-items: center;
}
.foto {
    width: 420px;
    height: 420px;
    border: 2px solid white;
    border-radius: 50%;
}
.svg {
    width: 60px;
    margin: 10px;
    align-self: last baseline;
}

/*===== SECTION 3 =====*/
.section-3 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(42, 19, 56);
    color: white;
}
.section-3 h1 {
    padding-top: 60px;
    padding-bottom: 20px;
    font-size: 40px;
    text-align: center;
}
.section-3-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-section-3 {
    width: 40%;
    height: 100%;
    display: flex;
}

/*---- Projetos ----*/

summary {
    justify-self: start;
    text-decoration: none;
    text-align: center;
    width: 350px;
    border: 2px solid white;
} summary:hover {
    transition: ease 0.4s;
    color: black;
    background-color: white;
}
details img {
    width: 150px;
}

/*-- Projeto 1 --*/
details.projeto1, .projeto2 {
    margin-right: 10px;
    background-color: rgb(62, 29, 83);
    backdrop-filter: blur(15px);
    max-height: 25px;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
}
details[open].projeto1, .projeto2 {
    max-height: 800px;
}
.details-projeto1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.project-link-1 {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*-- Projeto 2 --*/


/*-- SECITON 3 RIGHT --*/
.right-section-3 {
    width: 40%;
    height: 100%;
}
/*===== SECTION 4 =====*/
